body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  font-weight:900;
  align-items: center;
  padding-left: 10px;
  font-size: 26px;
  height: 52px;
  background: darkmagenta;
  color: white;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  background: #eee;
  color: rgb(248, 20, 20);
  font-size: 14px;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  margin-right: 40px;
  padding: 10px;
  flex: 1 0 auto;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

a {
  text-decoration: none;
  color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 450px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 60px;
  gap: 40px 130px;
}